p{
    font-size: 24px;
font-family:  sans-serif;
    text-align: justify;
    }

h1{
    font-size: 45px;
    text-align: center;
    
}

body{
    background: url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}